<ion-header>
  <ion-toolbar>
    <ion-title>New recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" autocomplete autocorrect></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea rows="3"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Time</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-img [src]="photoService.photos[0].webviewPath"></ion-img>
  </ion-item>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
